.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.fpItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.fpImg {
  width: 100%;
}
.fpName {
  font-weight: bold;
}
.fpCity {
  font-weight: 300;
}
.fpPrice {
  font-weight: 500;
}
.fpRating>button {
  background: #003580;
  color: white;
  border: none;
  outline: none;
  padding: 3px;
  margin-right: 10px;
  border-radius: 5px;
}
.fpRating>span {
  font-size: 14px;
}